<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?fileVersion 4.0.0?><cproject storage_type_id="org.eclipse.cdt.core.XmlProjectDescriptionStorage">
	<storageModule moduleId="org.eclipse.cdt.core.settings">
		{% for core, settings in cores.items() %}
		<cconfiguration id="org.eclipse.cdt.cross.arc.gnu.linux.elf.debug.{{settings.id}}">
			<storageModule buildSystemId="org.eclipse.cdt.managedbuilder.core.configurationDataProvider" id="org.eclipse.cdt.cross.arc.gnu.linux.elf.debug.{{settings.id}}" moduleId="org.eclipse.cdt.core.settings" name="{{core}}">
				<externalSettings/>
				<extensions>
					<extension id="org.eclipse.cdt.core.GNU_ELF" point="org.eclipse.cdt.core.BinaryParser"/>
					<extension id="org.eclipse.cdt.core.GASErrorParser" point="org.eclipse.cdt.core.ErrorParser"/>
					<extension id="org.eclipse.cdt.core.GmakeErrorParser" point="org.eclipse.cdt.core.ErrorParser"/>
					<extension id="org.eclipse.cdt.core.GLDErrorParser" point="org.eclipse.cdt.core.ErrorParser"/>
					<extension id="org.eclipse.cdt.core.CWDLocator" point="org.eclipse.cdt.core.ErrorParser"/>
					<extension id="org.eclipse.cdt.core.GCCErrorParser" point="org.eclipse.cdt.core.ErrorParser"/>
				</extensions>
			</storageModule>
			<storageModule moduleId="cdtBuildSystem" version="4.0.0">
				<configuration artifactName="${ProjName}" buildArtefactType="org.eclipse.cdt.cross.arc.gnu.buildArtefactType.application" buildProperties="org.eclipse.cdt.build.core.buildArtefactType=org.eclipse.cdt.cross.arc.gnu.buildArtefactType.application,org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.debug" description="{{settings.description}}" id="org.eclipse.cdt.cross.arc.gnu.linux.elf.debug.{{settings.id}}" name="{{core}}" parent="org.eclipse.cdt.cross.arc.gnu.linux.elf.debug">
					<folderInfo id="org.eclipse.cdt.cross.arc.gnu.linux.elf.debug.{{settings.id}}" name="/" resourcePath="">
						<toolChain id="org.eclipse.cdt.cross.arc.gnu.linux.elf.toolchain.debug.1744366756" name="GNU Toolchain for ARC EM" superClass="org.eclipse.cdt.cross.arc.gnu.linux.elf.toolchain.debug">
							<option id="org.eclipse.cdt.cross.arc.gnu.em.linux.option.debugging.level.1711527807" name="Debug level" superClass="org.eclipse.cdt.cross.arc.gnu.em.linux.option.debugging.level" value="org.eclipse.cdt.cross.arc.gnu.base.option.debugging.level.max" valueType="enumerated"/>
							<option id="org.eclipse.cdt.cross.arc.gnu.linux.option.target.processor.1848865485" name="ARC EM (-mcpu)" superClass="org.eclipse.cdt.cross.arc.gnu.linux.option.target.processor" value="org.eclipse.cdt.cross.arc.gnu.base.option.mcpu.em4_fpuda" valueType="enumerated"/>
							<option id="org.eclipse.cdt.cross.arc.gnu.linux.option.target.fpuem.1201157519" name="FPU Type (ARC EM)" superClass="org.eclipse.cdt.cross.arc.gnu.linux.option.target.fpuem" value="org.eclipse.cdt.cross.arc.gnu.base.option.fpu.fpuda_all" valueType="enumerated"/>
							<option id="org.eclipse.cdt.cross.arc.gnu.linux.option.target.mpyem.924660385" name="Multiply instructions (ARC EM)" superClass="org.eclipse.cdt.cross.arc.gnu.linux.option.target.mpyem" value="org.eclipse.cdt.cross.arc.gnu.base.option.mpyem.2" valueType="enumerated"/>
							<option id="org.eclipse.cdt.cross.arc.gnu.linux.option.target.barrelshifter.389973505" name="Barrel shifter (-mbarrel-shifter)" superClass="org.eclipse.cdt.cross.arc.gnu.linux.option.target.barrelshifter" value="true" valueType="boolean"/>
							<option id="org.eclipse.cdt.cross.arc.gnu.linux.option.target.divide.1452968236" name="Integer divide instructions (-mdiv-rem)" superClass="org.eclipse.cdt.cross.arc.gnu.linux.option.target.divide" value="true" valueType="boolean"/>
							<option id="org.eclipse.cdt.cross.arc.gnu.linux.option.target.normalize.1791635120" name="Bitscan instruction (-mnorm)" superClass="org.eclipse.cdt.cross.arc.gnu.linux.option.target.normalize" value="true" valueType="boolean"/>
							<option id="org.eclipse.cdt.cross.arc.gnu.linux.option.target.swap.1691169653" name="Swap instruction (-mswap)" superClass="org.eclipse.cdt.cross.arc.gnu.linux.option.target.swap" value="true" valueType="boolean"/>
							<option id="org.eclipse.cdt.cross.arc.gnu.linux.option.target.codedensity.419594547" name="Code density (-mcode-density)" superClass="org.eclipse.cdt.cross.arc.gnu.linux.option.target.codedensity" value="true" valueType="boolean"/>
							<targetPlatform id="org.eclipse.cdt.cross.arc.gnu.linux.elf.platform.debug.1838493732" isAbstract="false" name="All Platform" superClass="org.eclipse.cdt.cross.arc.gnu.linux.elf.platform.debug"/>
							<builder buildPath="${workspace_loc:/{{name}}/{{folder}}}" cleanBuildTarget="{{clean}}" id="org.eclipse.cdt.cross.arc.gnu.linux.elf.builder.debug.1039829842" incrementalBuildTarget="{{build}}" keepEnvironmentInBuildfile="false" managedBuildOn="true" name="GNU Make Builder for ARC" superClass="org.eclipse.cdt.cross.arc.gnu.linux.elf.builder.debug"/>
							<tool id="org.eclipse.cdt.cross.arc.gnu.linux.elf.assembler.debug.1318608153" name="ARC ELF32 GCC Assembler" superClass="org.eclipse.cdt.cross.arc.gnu.linux.elf.assembler.debug">
								<option id="org.eclipse.cdt.cross.arc.gnu.assembler.option.include.paths.1349156369" name="Include paths (-I)" superClass="org.eclipse.cdt.cross.arc.gnu.assembler.option.include.paths" valueType="includePath">
									{% for path in includes %}
									<listOptionValue builtIn="false" value="&quot;${workspace_loc:\{{path}}}&quot;"/>
									{% endfor %}
								</option>
								<option id="org.eclipse.cdt.cross.arc.gnu.assembler.option.preprocessor.def.311605714" name="Defined symbols (-D)" superClass="org.eclipse.cdt.cross.arc.gnu.assembler.option.preprocessor.def" valueType="definedSymbols">
									{% for value in defines %}
										<listOptionValue builtIn="false" value="{{value}}"/>
									{% endfor %}
								</option>
								<inputType id="org.eclipse.cdt.cross.arc.gnu.linux.assembler.base.input.1466071146" superClass="org.eclipse.cdt.cross.arc.gnu.linux.assembler.base.input"/>
							</tool>
							<tool id="org.eclipse.cdt.cross.arc.gnu.linux.elf.c.compiler.debug.335553800" name="ARC ELF32 GCC C Compiler" superClass="org.eclipse.cdt.cross.arc.gnu.linux.elf.c.compiler.debug">
								<option id="org.eclipse.cdt.cross.arc.gnu.c.compiler.option.include.paths.79614265" name="Include paths (-I)" superClass="org.eclipse.cdt.cross.arc.gnu.c.compiler.option.include.paths" valueType="includePath">
									{% for path in includes %}
									<listOptionValue builtIn="false" value="&quot;${workspace_loc:\{{path}}}&quot;"/>
									{% endfor %}
								</option>
								<option id="org.eclipse.cdt.cross.arc.gnu.c.compiler.option.preprocessor.def.1347816001" name="Defined symbols (-D)" superClass="org.eclipse.cdt.cross.arc.gnu.c.compiler.option.preprocessor.def" valueType="definedSymbols">
									{% for value in defines %}
									<listOptionValue builtIn="false" value="{{value}}"/>
									{% endfor %}
								</option>
								<option id="org.eclipse.cdt.cross.arc.gnu.c.compiler.option.optimization.level.1856088319" name="Optimization level" superClass="org.eclipse.cdt.cross.arc.gnu.c.compiler.option.optimization.level" value="org.eclipse.cdt.cross.arc.gnu.base.option.optimization.level.none" valueType="enumerated"/>
								<inputType id="org.eclipse.cdt.cross.arc.gnu.linux.c.compiler.base.input.1213319901" superClass="org.eclipse.cdt.cross.arc.gnu.linux.c.compiler.base.input"/>
							</tool>
							<tool id="org.eclipse.cdt.cross.arc.gnu.linux.elf.cpp.compiler.debug.1759003470" name="ARC ELF32 GCC C++ Compiler" superClass="org.eclipse.cdt.cross.arc.gnu.linux.elf.cpp.compiler.debug">
								<option id="org.eclipse.cdt.cross.arc.gnu.cpp.compiler.option.optimization.level.413506925" name="Optimization level" superClass="org.eclipse.cdt.cross.arc.gnu.cpp.compiler.option.optimization.level" value="org.eclipse.cdt.cross.arc.gnu.base.option.optimization.level.none" valueType="enumerated"/>
								<inputType id="org.eclipse.cdt.cross.arc.gnu.em.linux.cpp.compiler.base.input.66021659" superClass="org.eclipse.cdt.cross.arc.gnu.em.linux.cpp.compiler.base.input"/>
							</tool>
							<tool id="org.eclipse.cdt.cross.arc.gnu.linux.elf.c.linker.debug.469015424" name="ARC ELF32 GCC C Linker" superClass="org.eclipse.cdt.cross.arc.gnu.linux.elf.c.linker.debug">
								<option id="org.eclipse.cdt.cross.arc.gnu.c.link.option.scriptfile.1347574133" name="Script file (-T)" superClass="org.eclipse.cdt.cross.arc.gnu.c.link.option.scriptfile" value="${workspace_loc:${ProjName}}/lds/arcelf.lds" valueType="string"/>
								<inputType id="org.eclipse.cdt.cross.arc.gnu.c.linker.input.327314907" superClass="org.eclipse.cdt.cross.arc.gnu.c.linker.input">
									<additionalInput kind="additionalinputdependency" paths="$(USER_OBJS)"/>
									<additionalInput kind="additionalinput" paths="$(LIBS)"/>
								</inputType>
							</tool>
							<tool id="org.eclipse.cdt.cross.arc.gnu.linux.elf.cpp.linker.debug.281513723" name="ARC ELF32 GCC C++ Linker" superClass="org.eclipse.cdt.cross.arc.gnu.linux.elf.cpp.linker.debug"/>
							<tool id="org.eclipse.cdt.cross.arc.gnu.em.linux.archiver.base.105410190" name="ARC ELF32 GCC Archiver" superClass="org.eclipse.cdt.cross.arc.gnu.em.linux.archiver.base"/>
							<tool id="org.eclipse.cdt.cross.arc.gnu.linux.elf.createflash.debug.1063177420" name="ARC ELF32 GNU Create Flash Image" superClass="org.eclipse.cdt.cross.arc.gnu.linux.elf.createflash.debug"/>
							<tool id="org.eclipse.cdt.cross.arc.gnu.linux.elf.createlisting.debug.966824208" name="ARC ELF32 GNU Create Listing" superClass="org.eclipse.cdt.cross.arc.gnu.linux.elf.createlisting.debug"/>
							<tool id="org.eclipse.cdt.cross.arc.gnu.linux.printsize.base.1225803650" name="ARC ELF32 GNU Print Size" superClass="org.eclipse.cdt.cross.arc.gnu.linux.printsize.base"/>
						</toolChain>
					</folderInfo>
					<sourceEntries>
						<entry flags="VALUE_WORKSPACE_PATH|RESOLVED" kind="sourcePath" name="src"/>
					</sourceEntries>
				</configuration>
			</storageModule>
			<storageModule moduleId="org.eclipse.cdt.core.externalSettings"/>
		</cconfiguration>
		{% endfor %}
	</storageModule>
	<storageModule moduleId="cdtBuildSystem" version="4.0.0">
		<project id="test2.org.eclipse.cdt.cross.arc.gnu.linux.elf.959357407" name="EM Starter Kit Projects" projectType="org.eclipse.cdt.cross.arc.gnu.linux.elf"/>
	}
	}
	</storageModule>
	<storageModule moduleId="scannerConfiguration">
		<autodiscovery enabled="true" problemReportingEnabled="true" selectedProfileId=""/>
		<scannerConfigBuildInfo instanceId="org.eclipse.cdt.cross.arc.gnu.linux.elf.release.emsk.452368243;org.eclipse.cdt.cross.arc.gnu.linux.elf.release.emsk.452368243.;org.eclipse.cdt.cross.arc.gnu.linux.elf.c.compiler.release.emsk.1471743931;org.eclipse.cdt.cross.arc.gnu.em.linux.c.compiler.base.input.1401615080">
			<autodiscovery enabled="true" problemReportingEnabled="true" selectedProfileId="org.eclipse.cdt.cross.arc.gnu.ARC_GCCManagedMakePerProjectProfileC"/>
		</scannerConfigBuildInfo>
		<scannerConfigBuildInfo instanceId="org.eclipse.cdt.cross.arc.gnu.linux.elf.debug.emsk.1433501069;org.eclipse.cdt.cross.arc.gnu.linux.elf.debug.emsk.1433501069.;org.eclipse.cdt.cross.arc.gnu.linux.elf.assembler.debug.emsk.1318608153;org.eclipse.cdt.cross.arc.gnu.em.linux.assembler.base.input.1539215479">
			<autodiscovery enabled="true" problemReportingEnabled="true" selectedProfileId="org.eclipse.cdt.cross.arc.gnu.ARC_GCCManagedMakePerProjectProfileC"/>
		</scannerConfigBuildInfo>
		<scannerConfigBuildInfo instanceId="org.eclipse.cdt.cross.arc.gnu.linux.elf.debug.emsk.1433501069;org.eclipse.cdt.cross.arc.gnu.linux.elf.debug.emsk.1433501069.;org.eclipse.cdt.cross.arc.gnu.linux.elf.cpp.compiler.debug.emsk.1759003470;org.eclipse.cdt.cross.arc.gnu.em.linux.cpp.compiler.base.input.66021659">
			<autodiscovery enabled="true" problemReportingEnabled="true" selectedProfileId="org.eclipse.cdt.cross.arc.gnu.ARC_GCCManagedMakePerProjectProfileCXX"/>
		</scannerConfigBuildInfo>
		<scannerConfigBuildInfo instanceId="org.eclipse.cdt.cross.arc.gnu.linux.elf.release.emsk.452368243;org.eclipse.cdt.cross.arc.gnu.linux.elf.release.emsk.452368243.;org.eclipse.cdt.cross.arc.gnu.linux.elf.cpp.compiler.release.emsk.4842376;org.eclipse.cdt.cross.arc.gnu.em.linux.cpp.compiler.base.input.502492074">
			<autodiscovery enabled="true" problemReportingEnabled="true" selectedProfileId="org.eclipse.cdt.cross.arc.gnu.ARC_GCCManagedMakePerProjectProfileCXX"/>
		</scannerConfigBuildInfo>
		<scannerConfigBuildInfo instanceId="org.eclipse.cdt.cross.arc.gnu.linux.elf.debug.emsk.1433501069;org.eclipse.cdt.cross.arc.gnu.linux.elf.debug.emsk.1433501069.;org.eclipse.cdt.cross.arc.gnu.linux.elf.c.compiler.debug.emsk.335553800;org.eclipse.cdt.cross.arc.gnu.em.linux.c.compiler.base.input.1277286955">
			<autodiscovery enabled="true" problemReportingEnabled="true" selectedProfileId="org.eclipse.cdt.cross.arc.gnu.ARC_GCCManagedMakePerProjectProfileC"/>
		</scannerConfigBuildInfo>
		<scannerConfigBuildInfo instanceId="org.eclipse.cdt.cross.arc.gnu.linux.elf.release.emsk.452368243;org.eclipse.cdt.cross.arc.gnu.linux.elf.release.emsk.452368243.;org.eclipse.cdt.cross.arc.gnu.linux.elf.assembler.release.emsk.616973956;org.eclipse.cdt.cross.arc.gnu.em.linux.assembler.base.input.892680022">
			<autodiscovery enabled="true" problemReportingEnabled="true" selectedProfileId="org.eclipse.cdt.cross.arc.gnu.ARC_GCCManagedMakePerProjectProfileC"/>
		</scannerConfigBuildInfo>
	</storageModule>
	<storageModule moduleId="org.eclipse.cdt.core.LanguageSettingsProviders"/>
	<storageModule moduleId="refreshScope" versionNumber="2">
		{% for core, settings in cores.items() %}
		<configuration configurationName={{core}}>
			<resource resourceType="PROJECT" workspacePath="/{{name}}"/>
		</configuration>
		{% endfor %}

	</storageModule>
	<storageModule moduleId="org.eclipse.cdt.make.core.buildtargets"/>
</cproject>
